.booking-modal-content {
    .booking-modal-header {
        .title-modal {
            font-size: 20px;
            font-weight: 600;
            color: #333;
        }
    }

    .booking-modal-body {
        margin-top: 10px;
    }
}