$bg-color: #C2EFFF;

.section-medical {
    height: 400px;
    background: $bg-color;
    padding: 20px 0;

    .section-container {
        .section-body {
            .section-customize {
                .clinic-child {
                    cursor: pointer;

                    .section-name {
                        &:hover {
                            color: blue;
                        }
                    }
                }
            }

        }
    }

}