.doctor-schedule-container {
    border: 1px solid red;
    height: 100%;

    .all-schedule {
        select {
            border-bottom: 1px solid #999;
            border-top: none;
            border-right: none;
            border-left: none;
            color: #337ab7;
            outline: none;
            padding: 10px 0;
            font-weight: 700;
            cursor: pointer;

            option {
                cursor: pointer;
            }
        }
    }

    .all-avaiable-time {
        .text-calendar {
            margin: 10px 0;

            .icon-calendar {
                margin-right: 5px;
                margin-bottom: 5px;
            }

            span {
                text-transform: uppercase;
                color: #333;
            }
        }

        .time-content {
            display: flex;
            gap: 15px;
            flex-wrap: wrap;

            button {
                padding: 5px 10px;
                border: none;
                outline: none;
                background-color: #fff04b;
                min-width: 120px;
                border-radius: 5px;
                transition: 0.3s;
                font-weight: 600;
                color: #333;

                &:hover {
                    background-color: #C2EFFF;
                    color: #fff;
                }
            }
        }
    }
}