.manage-specialty-container {
    padding: 5px;

    .ms-title {
        text-align: center;
        margin: 15px 0;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
    }

    .add-new-specialty {}

    .all-specialty {}
}